version: 2.1

orbs:
  slack: circleci/slack@3.4.2

executors:
  docker-executor:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester-uv

jobs:
  build:
    executor: docker-executor
    steps:
      - checkout
      - run:
          name: 'Setup Virtual Env'
          command: |
            uv venv --python 3.11 /usr/local/share/virtualenvs/tap-facebook
            source /usr/local/share/virtualenvs/tap-facebook/bin/activate
            uv pip install 'pip==23.3.2'
            uv pip install 'setuptools==56.0.0'
            uv pip install .[dev]
      - slack/notify-on-failure:
          only_for_branches: master
      - run:
          name: 'Run pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-facebook/bin/activate
            uv pip install pylint
            pylint tap_facebook -d C,R,W
      - slack/notify-on-failure:
          only_for_branches: master
      - run:
          name: 'Run Unit Tests'
          command: |
            source /usr/local/share/virtualenvs/tap-facebook/bin/activate
            pip install pytest coverage
            coverage run -m pytest tests/unittests
            coverage html
      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: htmlcov
      - slack/notify-on-failure:
          only_for_branches: master
      - run:
          name: 'Run Integration Tests'
          command: |
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            uv pip install --upgrade awscli
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox dev_env.sh
            source dev_env.sh
            mkdir /tmp/${CIRCLE_PROJECT_REPONAME}
            export STITCH_CONFIG_DIR=/tmp/${CIRCLE_PROJECT_REPONAME}
            circleci tests glob "tests/*.py" | circleci tests split > ./tests-to-run
            if [ -s ./tests-to-run ]; then
              for test_file in $(cat ./tests-to-run)
              do
                run-test --tap=${CIRCLE_PROJECT_REPONAME} tests/$test_file
              done
            fi
      - slack/notify-on-failure:
          only_for_branches: master
      - store_artifacts:
          path: /tmp/tap-facebook

workflows:
  version: 2
  commit:
    jobs:
      - build:
          context:
            - circleci-user
            - tier-1-tap-user

  build_daily:
    jobs:
      - build:
          context:
            - circleci-user
            - tier-1-tap-user
    triggers:
      - schedule:
          cron: "0 1 * * *"
          filters:
            branches:
              only:
                - master
